$primary: #636AE8;
$body-bg: #FFFFFF;
$body-color: #171A1F;

$danger: #DC3545;
$text-light: #565D6D;
$text-white: #FFFFFF;
$background-gray: #565D6D;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "text": $body-color,
  "text-light": $text-light,
  "text-white": $text-white,
  "background-gray": $background-gray
);

// then:
@import "bootstrap/scss/bootstrap";
